.thumbs.db
thumbs.db
desctop.ini
node_modules


# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
!.gitkeep

# Editor directories and files
.idea

# DEV directories
_misc/
/_tmp/
tmp/

/sync-bf.cmd
/sync-bf.sh
/t?.js
t.*
local*.*
*.local.*
/.env
**/dist
/_log/
/__tests__/af_tests/
/config/local.yaml
/__tests__/lib/*.js
/__tests__/lib/*.d.ts
/__tests__/lib/*.map
/test.js
